body {
    margin: 0;
    color: #CFD8DC;
    text-align: left;
    background-color: #0D2B3E; /* Background color modified */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.teks-nav {
    color: #E0E0E0; /* Text color modified */
    text-decoration: none;
    font-size: 30px;
    margin-right: 700px;
    margin-left: 40px;
    padding: 15px;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #37474F; /* Background color modified */
    padding: 15px;
    display: flex;
    align-items: center;
}

.nav-link {
    display: block;
    padding: 0 15px;
    color: #90A4AE;
    text-decoration: none;
    font-size: 19px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0277BD; /* Background color modified */
    min-width: 130px;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #01579B; /* Background color modified */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home {
    text-align: center;
    padding-top: 10px;
    color: white;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home h1 {
    margin-bottom: 33px;
}

.home button {
    background-color: #FFFFFF;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.home button:hover {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px #FFFFFF;
}

section {
    text-align: center;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.video {
    padding-top: 330px;
}

.Link-audio {
    border-radius: 12px;
    overflow: hidden;
    background-color: #ECEFF1; /* Background color modified */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.link1-audio,
.link2-audio,
.link3-audio,
.link4-audio {
    padding: 20px;
    flex: 1;
}

.gambar1,
.gambar2,
.gambar3 {
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}


.row-gambar {
    display: flex;
    justify-content: center;
}

.row-video {
    padding-top: 250px;
}

.gambar1 img,
.gambar2 img,
.gambar3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 50px;
    color: #FF8F00; /* Text color modified */
    text-shadow: 2px 2px 4px #4E342E; /* Text shadow modified */
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    color: #546E7A; /* Text color modified */
}

.footer {
    background-color: #212121; /* Background color modified */
    color: #FFFFFF; /* Text color modified */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.container-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #FFFFFF; /* Text color modified */
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
}

.social-icons a:hover {
    color: #FF8F00; /* Hover text color modified */
}

/* Aturan untuk tampilan layar dengan lebar maksimum 768px */
@media screen and (max-width: 768px) {
    .teks-nav {
        margin-right: 20px;
    }

    .navbar {
        padding: 10px;
    }

    .nav-link {
        font-size: 16px;
    }

    .home .container {
        height: auto;
    }

    .video {
        padding-top: 200px;
    }

    .row-video {
        padding-top: 200px;
    }

    .Link-audio {
        margin-bottom: 10px;
    }

    .row-gambar {
        flex-wrap: wrap;
    }

    .gambar1,
    .gambar2,
    .gambar3 {
        margin: 10px 0;
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4,
    h5 {
        font-size: 20px;
    }

    .footer {
        padding: 10px 0;
    }

    .social-icons a {
        font-size: 24px;
    }
}

/* Aturan tambahan untuk menangani perangkat dengan layar sangat kecil, misalnya ponsel */
@media screen and (max-width: 480px) {
    .nav-link {
        padding: 8px 12px;
    }

    .home button {
        padding: 10px 20px;
    }

    .home h1 {
        font-size: 24px;
    }

    .home p {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4,
    h5 {
        font-size: 16px;
    }
    .circle {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: rgb(66, 74, 77);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        margin: 20px;
        transition: transform 0.3s ease;
        position: relative;
    }
    
    .circle p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
